<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    
</head>
<body>
    {% csrf_token %}
    <form method="post" action="{% url 'my_view' %}" >
        {% csrf_token %}

        Trigonometri
        <input type="checkbox" id="checkbox 1"name="selected_options" value="value1"> Value 1<br>
        <input type="checkbox" id="checkbox 2"name="selected_options" value="value2"> Value 2<br>
        <input type="checkbox" id="checkbox 3"name="selected_options" value="value3"> Value 3<br>
         
        Fonksiyon
        <input type="checkbox" id="checkbox 4"name="selected_options" value="Fonksiyon Test1"> Fonksiyon Test1<br>
        <input type="checkbox" id="checkbox 5"name="selected_options" value="valweue2"> Fonksiyon Test2<br>
        <input type="checkbox" id="checkbox 6"name="selected_options" value="valwefue3"> Fonksiyon Test3<br>
        <input type="checkbox" id="checkbox 7"name="selected_options" value="valefefwue1"> Fonksiyon Test4<br>
        <input type="checkbox" id="checkbox 8"name="selected_options" value="value2"> Fonksiyon Test5<br>
        <input type="checkbox" id="checkbox 9"name="selected_options" value="valuwefwe3"> Fonksiyon Test6<br>
        <input type="checkbox" id="checkbox 10"name="selected_options" value="valefwef"> Fonksiyon Test7<br>
        <input type="checkbox" id="checkbox 11"name="selected_options" value="valwefw2"> Fonksiyon Test8<br>
        <input type="checkbox" id="checkbox 12"name="selected_options" value="valefwefwefue3"> Fonksiyon Test9<br>
        <button type="submit" id="kaydet-btn" class="btn btn-primary" name="submit" value="kaydet">Kaydet</button>
        <button type="submit" id="hesapla-btn" class="btn btn-primary" name="submit" value="hesapla">Sonuç Hesapla</button>
      </form>
      <div id="checkboxCount"></div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
   
function countSelectedCheckboxes() {
  var count = $("input[name='selected_options']:checked").length;
  var totalCount = count * 0.25;
  $("#checkboxCount").text(totalCount);

  // Toplam checkbox sayısını al
  var totalCheckboxCount = $("input[name='selected_options']").length;

  // En az kaç tane kutunun dolu olması gerektiği hesaplanır
  var minFilledCount = Math.ceil(totalCheckboxCount * 0.3);

  // Dolu kutu sayısı hesaplanır
  var filledCount = $("input[name='selected_options']:checked").length;

  // Eğer dolu kutu sayısı, minimum dolu kutu sayısının altında ise uyarı mesajı verilir
  if (filledCount < minFilledCount) {
    alert("Lütfen en az " + minFilledCount + " kutuyu işaretleyiniz.");
    return false;
} else {
    return true;
  }
}

$("#hesapla-btn").click(function(e) {
  e.preventDefault();
  if (countSelectedCheckboxes()) {
    // Burada hesaplama yapılabilir ve sonuç ekrana yazılabilir

  }
});

$("#kaydet-btn").click(function(e) {
  e.preventDefault();
  if (countSelectedCheckboxes()) {
    var count = $("input[name='selected_options']:checked").length;
          var result = count * 0.25;
          $("#result").text("Seçilen kutu sayısı: " + count + ", sonuç: " + result);
    alert("Kaydetme başarılı!");
  } else {
    alert("Lütfen en az gerekli sayıda kutuyu işaretleyiniz.");
  }
});


  </script>

 
  
</body>
</html>